<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/navbar") %>

    <h1>The Home Page <%= "abhishek".toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus tempore reprehenderit alias consectetur obcaecati magni? Debitis maiores obcaecati, dolor eos molestiae corporis, possimus deserunt, saepe optio nostrum excepturi perferendis distinctio?</p>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi eos nam, vero possimus natus ad illum voluptas, neque, sit architecto in sint. Recusandae, ducimus dignissimos. Accusantium atque doloribus aliquam saepe!</P>
    
</body>
</html>